
    <div class="ui center aligned basic segment">
        <div class="ui divider"></div>
        <div class="ui horizontal list">
            <div class="container item">
                <i class="twitter icon"></i>
            </div>
            <div class="item">
                <i class="github icon"></i>
            </div>
            <div class="item">
                <i class="linkedin icon"></i>
            </div>
            <div class="item">
                <i class="free code camp icon"></i>
            </div>
        </div>
    </div>


    </body>
</html>