<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body  class="full height">
        <div class="ui fixed menu">
            <div class="ui container">
                <a class="header item" href="/"><i class="paw icon"></i>on woofing</a>
            </div>
            <a class="item" href="/">Home</a>
            <a class="item" href="/blogs/about">About</a>
            <a class="item" href="/blogs/new">New Post</a>
        </div>